# Python
Backend/_pycache_/
Backend/*.pyc
Backend/*.pyo
Backend/*.pyd
Backend/.env
Backend/venv/
Backend/.env/

# Node.js
Frontend/node_modules/
Frontend/dist/
Frontend/.vite/
Frontend/.vite-cache/
Frontend/*.log

# Editor/OS files
.DS_Store
Thumbs.db
.idea/
.vscode/